 
* {
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-family: "Raleway";
}

body {
	background: linear-gradient(98deg, #79cb14, #3762ff, #d7fa38, #38f3fa);
	background-size: 800% 800%;
	-webkit-animation: bg 48s ease infinite;
	-moz-animation: bg 48s ease infinite;
	-o-animation: bg 48s ease infinite;
	animation: bg 48s ease infinite;

	/*background-image: url(bg.jpg);*/
	background-repeat: all;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

.menu {
	/*background-color: #f0f8ff;*/
	width: 270px;
	height: 270px;
	vertical-align: middle;	
	text-align: center;
	margin: 0 auto;
}

#hr1 {
	margin: 0 auto;
	margin-top: 10px;
}

#hr2 {
	margin-top: 20px;
}

h2 {
	text-align: center;
	padding-top: 100px;
	font-size: 30px;
}

li {
	font-size: 24px;
	margin: 10px;
	list-style-type: none;
	margin: 0 auto;
	padding-top: 15px;
}

a {
	color: black;
}

a:hover {
	border: 7px solid black;
	border-radius: 25px;
	background-color: #000;
	color: white;
}

.footer {
	text-align: center;
	padding-top: 12px;
}

#start {
	display: none;
}

#start {
 	/*background-color: #f0f8ff;*/
	width: 200px;
	height: 270px;
	vertical-align: middle;	
	text-align: center;
	margin: 0 auto;
}

img {
	width: 300px;
	height: 270px;
	margin: 0 auto;
	vertical-align: middle; 
}

h3 {
	text-align: center;
	font-size: 25px;
}

#exit {
	text-align: center;
	width: 200px;
}

#market {
	/*background-color: #f0f8ff;*/
	width: 400px;
	height: 300px;
	vertical-align: middle;	
	text-align: center;
	margin: 0 auto;
	display: none;
}

#status {
	padding-top: 0;
	font-size: 25px;
}

#score {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 23px;
}

#about {
	display: none;
	/*background-color: #f0f8ff;*/
	width: 420px;
	height: 370px;
	vertical-align: middle;	
	text-align: center;
	margin: 0 auto;
}

#abouth {
	padding-top: 0;
	padding: 10px;
}

#abouth3 {
	padding-top: 20px;
}

#f {
	color: black;
	font-size: 20px;
}

#cp {
	/*background-color: #f0f8ff;*/
	width: 270px;
	height: 270px;
	vertical-align: middle;	
	text-align: center;
	margin: 0 auto;
	display: none;
}

#ch {
	/*background-color: #f0f8ff;*/
	width: 400px;
	height: 370px;
	vertical-align: middle;	
	text-align: center;
	margin: 0 auto;
	display: none;
}

#h {
	/*margin: 0 auto;*/
	margin-bottom: 20px;
	background-color: blue;
	width: 300px;
	height: 25px;
	vertical-align: middle;
	text-align: left;
}

#fun {
	/*margin: 0 auto;*/
	background-color: orange;
	width: 300px;
	height: 25px;
	vertical-align: middle;
	text-align: left;	
}

@-webkit-keyframes bg {
    0%{background-position:0% 10%}
    50%{background-position:100% 91%}
    100%{background-position:0% 10%}
}
@-moz-keyframes bg {
    0%{background-position:0% 10%}
    50%{background-position:100% 91%}
    100%{background-position:0% 10%}
}
@-o-keyframes bg {
    0%{background-position:0% 10%}
    50%{background-position:100% 91%}
    100%{background-position:0% 10%}
}
@keyframes bg { 
    0%{background-position:0% 10%}
    50%{background-position:100% 91%}
    100%{background-position:0% 10%}
}

#start_label {
	margin-bottom: 20px;
}